WCL_CLIENT_ID=your_client_id_here
WCL_CLIENT_SECRET=your_client_secret_here
PORT=8787
WCL_ALLOWED_GAME_ZONES=Karazhan,Gruul's Lair,Magtheridon's Lair,Serpentshrine Cavern,Tempest Keep,Hyjal Summit,Black Temple,Sunwell Plateau,Zul'Aman
RAID_HELPER_API_KEY=your_raid_helper_api_key_here
RAID_HELPER_DEFAULT_EVENT_ID=your_event_id_here
RAID_HELPER_SERVER_ID=your_discord_server_id_here
